<?xml version="1.0" ?>
<launch>
	<arg name="pluginlist_yaml" value="$(find state_estimator)/launch/pluginlist.yaml" />
	<arg name="timeoutlist_yaml" value="$(find state_estimator)/launch/timeout.yaml" />
	<arg name="rviz" default="false" />
	<arg name="rviz_config" default="$(find state_estimator)/rviz/state_estimator.rviz" />
	<arg name="use_sim_time" default="false" />

	<param name="/use_sim_time" value="$(arg use_sim_time)"/>

	<node name="state_estimator" pkg="state_estimator" type="node" respawn="false" output="screen">
		<rosparam command="load" file="$(arg pluginlist_yaml)" />
		<rosparam command="load" file="$(arg timeoutlist_yaml)"/>
		<rosparam file="$(find state_estimator)/config/attitude_plugin.yaml" command="load" />
		<rosparam file="$(find state_estimator)/config/contact_plugin.yaml" command="load" />
		<rosparam file="$(find state_estimator)/config/leg_odometry.yaml" command="load"/>
		<rosparam file="$(find state_estimator)/config/sensor_fusion.yaml" command="load" />
		<rosparam file="$(find state_estimator)/config/tf_publisher.yaml" command="load" />


		
	</node>

	<!-- <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen" /> -->
</launch>
